body{
    margin: 5;
    padding: 0;
    background-color: rgb(206, 181, 183);
}

#navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box ;
    border-bottom: 1px solid black;
}

#nav{
    display: flex;
    gap: 20px;
    font-size: 20px;
}

a{
    color: rgb(14, 13, 13);
    text-decoration: none;
}

li{
    list-style: none;
}

#navbar p{
    font-size: 25px;
}


h1{
    text-align: center;
}

h3{
    text-align: center;
}

.Students-list-item{
    display: flex;
    width: 80%;
    box-shadow: 0px 2px 4px black;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
}

#Students-List{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.green-btn{
    background-color: rgb(82, 196, 87);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.green-btn:hover{
    background-color: rgb(66, 184, 66);
}

.red-btn{
    background-color: rgb(197, 47, 47);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.red-btn:hover{
    background-color: rgb(209, 59, 59);
}

.btn-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.present{
    color: rgb(7, 160, 7);
}

.absent{
    color: red;
}

@media(max-width: 720px){
    .hide-mobile{
        display: none;
    }
}
